@import "tailwindcss";
.logo {
    width: 100px;
    padding: 0px 20px;
}
.nav-items ul {
    display: flex;
    margin: 35px;
    justify-content: space-between;
}
.nav-items li {
    padding: 0px 20px;
    list-style-type: none;
    font-size: large;
}
Link {
    padding: 0px 20px;
    font-size: large;

}
.nav-items {
    justify-items: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: black 2px solid;
}

.card-log{
    width: 100%
}

.res-card {
    /* height: 300px; */
    width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: #f0f0f0;

}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
 
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
button {
  padding: 0px 10px;
  background: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
#shimmer {
    width: 200px;
    height: 350px;
    background: #f0f0f0;
    margin: 10px;
    padding: 5px;
}
#shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.inputt {
    border: 2px sold black;
    padding: 5px;
    border-radius: 4px;
    background-color :wheat;
    margin: 5px;
}
.search {
    margin: 5px;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 8px 0;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 6px 0;
}

#menu-Top{
 border: 
}

#menu-Top {
 width: 900px;
  height: 150px;
  position: relative;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

#menu-Top:hover {
  transform: scale(1.05);
}
#res-Menu{
    margin-top: 70px;
    justify-items: center;
}
#menu-items{
     width: 900px;
     height: 200px;
     border-bottom: black;
     margin: 50px;
     background-color: aliceblue;
     display: flex;
}
#menu-img{
    width: 200px;
    height: 200px;
}
#userClass{
    border: black 10px solid;
    margin: 200px;
}