@import "tailwindcss";
.logo {
    width: 100px;
    padding: 0px 20px;
}
.nav-items ul {
    display: flex;
    margin: 35px;
    justify-content: space-between;
}
.nav-items li {
    padding: 0px 20px;
    list-style-type: none;
    font-size: large;
}
Link {
    padding: 0px 20px;
    font-size: large;

}
.nav-items {
    justify-items: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: black 2px solid;
}

.card-log{
    width: 100%
}

.res-card {
    /* height: 300px; */
    width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: #f0f0f0;

}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
 
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
button {
  padding: 0px 10px;
  background: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
#shimmer {
    width: 200px;
    height: 350px;
    background: #f0f0f0;
    margin: 10px;
    padding: 5px;
}
#shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.inputt {
    border: 2px sold black;
    padding: 5px;
    border-radius: 4px;
    background-color :wheat;
    margin: 5px;
}
.search {
    margin: 5px;
}